name: Deploy to Somee via SFTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy via SFTP
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST_SFTP }}  # Địa chỉ SFTP server
          username: ${{ secrets.USER_SFTP }}  # Tên người dùng SFTP
          password: ${{ secrets.PASS_SFTP }}  # Mật khẩu SFTP
          source: "./"  # Thư mục nguồn trong repo
          target: "/path/to/your/remote/directory"  # Thư mục đích trên server SFTP
